h1 {color:bisque;}

.div{
    background-color: purple;
    display:flex;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-wrap:wrap;
} 
.grid img{
    border-radius: 50px;
    border: 2px solid black
}

.origami{
    border-radius: 20px;
    background-color: white;

    width:310px;
    font-family: fantasy;
}

